:root {
  --dark-color: #1f2937;
  --white-color: #f9faf8;
  --grey-color: #e5e7eb;
  --blue-color: #3882f6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--dark-color);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50rem;
}

.header-logo {
  width: 100%;
  max-width: 100px;
}

.header-logo img {
  width: 70%;
  object-fit: cover;
}

#navbar ul {
  display: flex;
  gap: 6rem;
}

#navbar a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--grey-color);
}

#navbar li {
  list-style-type: none;
}

.hero {
  min-height: 50rem;
  background: var(--dark-color);
  padding-top: 5rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  gap: 10rem;
}

.hero-picture {
  width: 100%;
  max-width: 50rem;
}

.hero-image {
  width: 100%;
  object-fit: cover;
  object-position: 0 -9rem;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

.hero-text {
  max-width: 45rem;
}

.hero-text h1 {
  font-size: 4.8rem;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.8rem;
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.hero-button {
  background: var(--blue-color);
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 8px 3rem;
  font-weight: 700;
  color: var(--white-color);
}

.hero-button:hover {
  cursor: pointer;
}

.information {
  text-align: center;
  min-height: 60rem;
}

.information-header {
  font-size: 3.6rem;
  font-weight: 900;
  margin: 10rem auto 5rem;
}

.grid-pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100rem;
  gap: 5rem;
  margin: 0 auto;
  font-size: 1.8rem;
  justify-content: center;
}

.grid-picture img {
  width: 100%;
  object-fit: cover;
  height: 25rem;
  width: 25rem;
  border: 3px solid var(--blue-color);
  border-radius: 10px;
}

.grid-picture:nth-child(2) img {
  object-position: 0cm -1.75cm;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey-color);
  min-height: 40rem;
}

.quote-text {
  max-width: 80rem;
}

.quote-text blockquote {
  font-size: 3.6rem;
  font-style: italic;
  color: var(--dark-color);
}

.quote-text p {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  font-weight: 700;
}
